.lobby-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lobby {
    
    background-color: #282A2A;
    border-radius: 1em;
    width: 50vh;
    padding: 1.5em 1.5em;
    box-shadow: 0 10px 6px -3px #323434;
}

.lobby h1 {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 1.5em;
}

.lobby-players-row {
    margin: 0.75em 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lobby-action {
    width: 100%;
}

.lobby-id {
    margin-top: 0.75em;
    text-transform: uppercase;
    color: white;
    font-weight: lighter;
    font-size: x-small;
    text-align: center;
}

.copy {
    cursor: pointer;
}

