.lobby-player {
    flex: 1 0 21%;
    text-align: center;
}

.lobby-player span {
    color: white;
    font-weight: bolder;
    font-size: small;
}

.lobby-player img {
    width: 75px;
    height: 75px;
}