.rules {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    padding: 0.60em 1em;
    background-color: #E63946;
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.3s;
    cursor: pointer;
}

.rules:hover {
    transform: scale(1.1);
}

.rules span, div {
    color: white;    
}

div.explanations {
    position: absolute;
    top: 8%;
    right: 8%;
    border-radius: 10%;
    background-color: #282A2A;
    text-align: justify;
    padding: 20px;
    width: 25%;
    box-shadow: 0 10px 6px -3px #323434;

    & h1 {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0.75em;
        font-weight: bold;
    }

    & p {
        line-height: 1.5em;
    }

    & p > span {
        font-weight: bold;
        text-transform: uppercase;
    }
}