.write {
    color: white;

    h1 {
        margin-bottom: .75em;
        text-transform: uppercase;
    }

    input {
        box-sizing: border-box;
        width: 100%;
        padding: 5px;
    }
}