<div *ngIf="game.status == gameStatus.WAITING_PLAYERS;">
    <app-lobby [game]="game" 
               [localPlayer]="localPlayer"></app-lobby>
</div>
<div *ngIf="game.status == gameStatus.WRITING_SENTENCES 
            || game.status == gameStatus.DRAWING
            || game.status == gameStatus.GUESSING;">
    <app-party [game]="game"
               [localPlayer]="localPlayer"></app-party>
</div>
<div *ngIf="game.status == gameStatus.WAITING_SERVER;">
    <app-waiting></app-waiting>
</div>
<div *ngIf="game.status == gameStatus.END;">
</div>