<div class='party-container'>
    <div class='party-nav'>
        <div class='party-nav-users'>
            <app-party-player *ngFor="let player of (game.players)" [player]="player"></app-party-player>
        </div>
        <div class='party-nav-actions'>
            <button class='btn-border-red'>Quitter</button>
        </div>
    </div>
    <div class='party-game'>
        <div class='party-game-container'>
            <div *ngIf="game.status == gameStatus.WRITING_SENTENCES;">
                <!-- Writing component with text input -->
                <app-write [game]="game" [localPlayer]="localPlayer"></app-write>
            </div>
            <div *ngIf="game.status == gameStatus.DRAWING;">
                <!-- Draw component with canvas-->
                <app-canvas></app-canvas>
            </div>
            <div *ngIf="game.status == gameStatus.GUESSING;">
                <!-- Guess component with canvas & text input -->
                <app-guess></app-guess>
            </div>
        </div>
    </div>
</div>