<div class='lobby-container'>
    <div class='lobby'>
        <h1>Waiting players ...</h1>
        <div class='lobby-content' >
            <div class='lobby-players-row'>
                <app-lobby-player *ngFor="let player of (game.players)"
                    [player]="player"></app-lobby-player>
            </div>
        </div>
        <!--TODO: Only if local user is game creator -->
        <button class='lobby-action'>lancer la partie</button>
        <h2 class='lobby-id'>copy party link - sPaS79bNr1</h2>
    </div>
</div>