<div class='lobby-container'>
    <div class='lobby'>
        <h1>En attente de joueurs ...</h1>
        <div class='lobby-content' >
            <div class='lobby-players-row'>
                <app-lobby-player *ngFor="let player of (game.players)" [player]="player"></app-lobby-player>
            </div>
        </div>
        <button *ngIf="game.creator.id == localPlayer.id" 
                (click)="launchGame()"
                class='lobby-action'>Lancer la partie</button>
        <h2 class='lobby-id'>Lien de la partie : {{ game.id }}</h2>
    </div>
</div>