<div class="palette">
    <app-canvas-button  *ngFor="let color of (colors)" 
                        [color]="color"
                        (onClick)="onButtonClick($event)"></app-canvas-button>
    <input type="color" class="color-picker" (change)="onColorPickerChange($event)" >
    <app-canvas-button  *ngFor="let thickness of (thicknesses)" 
                        [thickness]="thickness"
                        (onClick)="onButtonClick($event)"></app-canvas-button>
    <app-canvas-button 
                        [content]="'reset'"
                        (onClick)="onButtonClick($event)"></app-canvas-button>

</div>
