<div class="palette">
    <app-canvas-button  *ngFor="let color of (colors)" 
                        [color]="color"
                        (onClick)="onButtonClick($event)"></app-canvas-button>
    <app-canvas-button  *ngFor="let thickness of (thicknesses)" 
                        [thickness]="thickness"
                        (onClick)="onButtonClick($event)"></app-canvas-button>
                        <!--
    <input id="btn_reset" type="button" value="Reset" (click)="resetCanvasEmitter()">
    <input #colorPicker type="color" id="colorPicker" name="head" [value]="colorStyle" (change)='colorPickerChange($event)'>
-->

</div>
