.content {
    display: flex;
    justify-content: space-around;
}

.app-draw-sentence {
    display: flex;
    justify-content: space-around;
    padding: 0.75em 0;
    width: 100%;
}

.color-picker {
    height: 50px;
    width: 100%;
    border: 2px solid rgb(75, 75, 75);
    padding: 0.01em;
    box-sizing: border-box;
    transition: all 0.3s;

    &:hover {
        border-color: black;
        transform: scale(1.1);
        cursor: pointer;
    }
}