<!DOCTYPE html>
<html>
    <head>
        <title>Gartic phone</title>
        <meta charset='utf-8' /> 

        <link rel="stylesheet" type="text/css" href="./css/app.css" />
        <link rel="stylesheet" type="text/css" href="./css/buttons.css" />
        <link rel="stylesheet" type="text/css" href="./css/menu.css" />
        <link rel="stylesheet" type="text/css" href="./css/rules.css" />
    </head>
    <body>
        <a class='rules' href='' target='_blank'>
            <span>?</span>
        </a>
        <div class='menu-container'>
            <div class='menu'>
                <h1>Gartic phone</h1>
                <div class='menu-content'>
                    <input type='text' placeholder='NICKNAME' id='nickname' />
                    <div class='menu-content-join-party'>
                        <button>join lobby</button>
                        <input type='text' placeholder='ID' id='gameid' />
                    </div>
                    <button class='menu-content-action btn-border-red'>create lobby</button>
                </div>
            </div>
        </div>
    </body>
</html>