<!DOCTYPE html>
<html>
    <head>
        <title>Gartic phone</title>
        <meta charset='utf-8' /> 

        <link rel="stylesheet" type="text/css" href="./css/app.css" />
        <link rel="stylesheet" type="text/css" href="./css/buttons.css" />
        <link rel="stylesheet" type="text/css" href="./css/lobby.css" />
        <link rel="stylesheet" type="text/css" href="./css/rules.css" />
    </head>
    <body>
        <a class='rules' href='' target='_blank'>
            <span>?</span>
        </a>
        <div class='lobby-container'>
            <div class='lobby'>
                <h1>Waiting players ...</h1>
                <div class='lobby-content'>
                    <div class='lobby-players-row'>
                        <div class='lobby-player'>
                            <img src='./assets/pictures/default_girl.png'>
                            <span>OSMOS </span>
                        </div>
                        <div class='lobby-player'>
                             <img src='./assets/pictures/default_man.png'>
                             <span>OSMOS</span>
                         </div>
                         <div class='lobby-player'>
                             <img src='./assets/pictures/default_girl.png'>
                             <span>OSMOS</span>
                         </div>
                         <div class='lobby-player'>
                              <img src='./assets/pictures/default_man.png'>
                              <span>OSMOS</span>
                          </div>
                    </div>
                    <div class='lobby-players-row'>
                        <div class='lobby-player'>
                            <img src='./assets/pictures/default_girl.png'>
                            <span>OSMOS</span>
                        </div>
                        <div class='lobby-player'>
                             <img src='./assets/pictures/default_man.png'>
                             <span>OSMOS</span>
                         </div>
                         <div class='lobby-player'>
                             <img src='./assets/pictures/default_girl.png'>
                             <span>OSMOS</span>
                         </div>
                         <div class='lobby-player'>
                              <img src='./assets/pictures/default_man.png'>
                              <span>OSMOS</span>
                          </div>
                    </div>
                </div>
                <button class='lobby-action'>lancer la partie</button>
                <h2 class='lobby-id'>copy party link - sPaS79bNr1</h2>
            </div>
        </div>
    </body>
</html>