.notifications {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100vh;
    max-width: 50%;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}

.notification {
    width: fit-content;
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;

    // TODO: Make animation in & out
}

.notification-error {
    background-color: #f44336;
}

.notification-success {
    background-color: #04AA6D;
}

.notification-info {
    background-color: #2196F3;
}